alpaca-trade-api
beautifulsoup4
bs4
certifi
chardet
idna
ipykernel
newsapi-python
nltk
numpy
pandas
pre-commit
python-dateutil
pytz
requests
six
soupsieve
urllib3
websocket-client
websockets>=9.0
yfinance
